visualization=false
estimate_normal=true
aux_data=false
smart_swap=true
pcl_verbose=3
normal_radius=0.1
feature_radius=0.25
max_iteration=4000000
num_of_samples=4
correspondence_randomness=2
edge_similarity=0.9
resample_leaf=0.05
max_correspondence_distance=0.075
inlier_fraction=0.33
inlier_number=30000
angle_difference=0.52359878
